<div class="row align-items-center" (change)="updatePageSize($event)">
    <div class="col-2 text-end">
        Page Size :
    </div>
    <div class="col-1 text-start">
        <select class="form-control">
            <option value="100" selected>100</option>
            <option value="250">250</option>
            <option value="500">500</option>
        </select>
    </div>

    <div class="col-9">
        <ul class="pagination justify-content-end">
            <li [className]="'page-item' + (currentPage === 1 && 'disabled')">
                <button class='page-link' (click)="updatePage(currentPage-1)" tabIndex='-1'>Previous</button>
            </li>
            <ng-container *ngIf="totalPages<8">
                <li [className]="'page-item'+(currentPage===page+1 && 'active')" *ngFor="let page of totalPageNumbers">
                    <button class='page-link' (click)="updatePage(page+1)" tabIndex='-1'>{{page+1}}</button>        
                </li>
            </ng-container>
        </ul>
    </div>

</div>