<div class="row">
     <div class="col">
        <div class="row">
            <div class="col text-center">
                <div style="background: lightgrey;">
                    <img [src]="book.image" [alt]="book.title">
                </div>
            </div>
        </div>
        <div class="row" style="height: 3em;">
            <div class="col align-self-center text-center fw-bold text-secondary" style="font-size: x-small;">
                {{book.title}}
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-success" style="font-size: x-small;">
                {{book.authors}}
            </div>
        </div>
        <div class="row text-center fst-italic" style="color:gray;font-size: x-small;margin-bottom: 1em;">
            <div class="col-6">
                {{book.publisher}}
            </div>
            <div class="col-6">
                {{book.publishedOn | dateformat:'DD-MM-yyyy' }}
            </div>
        </div>
        <div class="row">
            <div class="col fw-bold" style="font-size: xx-small;">
                Description :
            </div>
        </div>
        <div class="row">
            <div class="col" style="font-size: xx-small;">
                {{book.description | textshorter:150 }}
            </div>
        </div>
     </div>
</div>